* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

:root {
    --fontFamily: 'Raleway', sans-serif;
    --white: #fff;
    --mainColorLight: #f8f9fA;
    --mainColorLightGrey: #ced4dA;
    --mainColorDarkGrey: #343a40;
    --mainColorDark: #212529;
    --black: #000;
}

body {
    font-family: var(--fontFamily);
    background-color: var(--mainColorLight);
    background-position: center;
}

h2 {
    font-size: 26px;
    color: var(--mainColorDark);
    font-weight: 600;
    line-height: 1.5em;
}

/* HEADER */

.header-wrap {
    background-color: var(--black);
    box-shadow: 0 0 4px var(--black);
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/restaurant_main_mobile_portrait_small_1.jpg);
    background-size: 135%;
    color: var(--white);
    animation: background-size-mobile-portrait-small 8s infinite linear alternate, img-change 8s infinite linear;
}

.logo-wrap {
    width: 100%;
    height: 25%;
}

.logo-wrap img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 280px;
    margin: auto;
    z-index: 5;
}

header .title-wrap {
    position: relative;
    height: 100%;
    background-color: #00000044;
}

header .title-wrap .title {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
}

header .title-wrap .title.position-1 {
    top: 48%;
}

header .title-wrap .title.position-2 {
    top: 60%;
}

header .title-wrap .title.position-3 {
    top: 62%;
    text-align: right;
}

header .title-wrap .title h1 {
    margin-bottom: 5px;
    font-size: 38px;
    z-index: 1;
}

header .title-wrap .title p {
    font-size: 19px;
}

/* BURGER MENU  */

.burger {
    position: fixed;
    top: 5vh;
    left: 20px;
    width: 35px;
    height: 26px;
    transition: .2s;
    z-index: 1;
    animation: show 2s 2.5s ease both;
    z-index: 99;
}

.burger.active {
    transform: rotate(-90deg);
}

.burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--white);
    transition: top .2s .2s, bottom .2s .2s, opacity .2s, transform .2s, background-color .2s;
}

.burger.dark span {
    background-color: var(--mainColorDark);
}

.burger.dark.active span {
    background-color: var(--white);
}

.burger span:nth-child(1) {
    top: 0;
}

.burger.active span:nth-child(1) {
    top: calc(50% - 2px);
    transform: rotate(45deg);
}

.burger span:nth-child(2) {
    top: calc(50% - 2px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger span:nth-child(3) {
    bottom: 0;
}

.burger.active span:nth-child(3) {
    bottom: calc(50% - 2px);
    transform: rotate(-45deg);
}

/* NAV */

nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    z-index: 98;
    opacity: 0;
}

nav.show {
    display: block;
    animation: nav-show 1s ease both;
}

nav .nav-logo-wrap {
    position: fixed;
    width: 100%;
    height: 25%;
    background-color: #00000044;
}

nav .nav-logo-wrap img {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 280px;
    margin: auto;
    z-index: 5;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

nav ul li {
    width: 100%;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--mainColorLightGrey);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

/* SECTION ABOUT */

.about {
    padding: 40px 20px;
}

.about p {
    margin: 20px 0;
    font-size: 15px;
    color: var(--mainColorDarkGrey);
    letter-spacing: .4px;
    line-height: 1.6em;
}

.about p.signature {
    padding-right: 20px;
    font-style: italic;
    text-align: right;
}

/* SECTION GALLERY  */

.gallery {
    width: 100%;
    box-shadow: 0 0 4px var(--black);
}

.carousel-wrap {
    position: relative;
    width: 100%;
}

.gallery .carousel-wrap img {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 1s;
}

.gallery .carousel-wrap img.visible {
    opacity: 1;
    z-index: 10;
}

.gallery .carousel-wrap span {
    display: block;
    position: absolute;
    font-size: 36px;
    color: var(--white);
    z-index: 11;
}

.gallery .carousel-wrap span.arrow-back {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.gallery .carousel-wrap span.arrow-next {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.gallery .carousel-wrap .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 10%;
    font-size: 13px;
    color: var(--white);
    z-index: 11;
}

.gallery .carousel-wrap .dots i {
    margin-right: 4px;
}

/* SECTION MENU RESTAURANT */

.menu {
    padding: 40px 25px;
    box-shadow: 0 0 4px var(--black);
}

.menu .menu-logo-wrap {
    margin: 20px 0 40px 0;
    width: 100%;
}

.menu .menu-logo-wrap img {
    display: block;
    margin: 0 auto;
    width: 60%;
    max-width: 250px;
}

.menu h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .8px;
}

.menu-category {
    margin-top: 50px;
}

.menu-items {
    height: 0;
    overflow: hidden;
    transition: .7s ease-in-out;
}

.menu-category h3 {
    font-size: 16px;
    color: var(--mainColorDarkGrey);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4em;
    letter-spacing: .4px;
    font-weight: normal;
}

.menu-category h3 i {
    margin-left: 7px;
    font-size: 16px;
    transform: translateY(10%);
    transition: .3s;
}

.menu-category h3 i.rotate {
    transform: rotate(180deg);
}

.menu-item {
    margin-top: 30px;
}

.menu-item-description {
    display: flex;
    justify-content: space-between;
}

.menu-item-ingredients {
    margin-top: 5px;
}

.ingredients {
    padding-right: 40px;
}

.menu-item p {
    font-size: 15px;
    color: var(--mainColorDarkGrey);
    letter-spacing: .4px;
}

.menu-item-description-name {
    font-size: 16px;
    color: var(--mainColorDarkGrey);
}

/* SECTION MENU BAR */

.menu.bar {
    background-image: url(../img/section_menu_bar_background_mobile_portrait_small.jpg);
    background-size: cover;
    background-position-x: center;
    /* background-attachment: fixed; */
}

.menu.bar h2 {
    color: var(--white);
}

.bar .menu-category h3 {
    color: var(--white);
}

.bar .menu-item p {
    color: var(--white);
}

.bar .menu-item-description-name {
    color: var(--white);
}

/* SECTION RESERVATION */

.reservation {
    padding: 40px 25px;
}

.reservation-panel {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.reservation-panel h2 {
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 110%;
    text-transform: uppercase;
}

.reservation-panel h3 {
    font-size: 10px;
    color: var(--mainColorDarkGrey);
    line-height: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.reservation-panel button {
    margin-top: 25px;
    border: none;
    border-radius: 20px;
    background-color: var(--mainColorDarkGrey);
}

.reservation-panel button:focus {
    outline: none;
}

.reservation-panel button a {
    display: block;
    padding: 14px 30px;
    border-radius: 20px;
    font-family: var(--fontFamily);
    font-size: 13px;
    color: var(--mainColorLight);
    text-decoration: none;
    height: 100%;
}

.reservation-message {
    padding: 10px 0 30px 0;
}

.reservation-message p {
    font-size: 15px;
    color: var(--mainColorDarkGrey);
    letter-spacing: .4px;
    line-height: 1.6em;
    text-align: center;
}

.reservation-message p a {
    color: var(--mainColorDarkGrey);
    text-decoration: none;
    font-weight: 500;
}

/* SECTION CONTACT */

.contact {
    padding: 40px 0 0 0;
    box-shadow: 0 0 4px var(--black);
    background-color: var(--mainColorDark);

}

.contact h2 {
    padding: 20px 25px 0 25px;
    font-size: 30px;
    color: var(--mainColorLight);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.contact-data {
    padding: 0 25px;
    color: var(--mainColorLight);
    text-align: center;
}

.contact-data-item {
    margin: 35px 0;
}

.contact-data-item h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.contact-data-item p {
    font-size: 15px;
    letter-spacing: .4px;
    line-height: 160%;
}

.contact-data-item .hours {
    font-weight: 500;
    letter-spacing: .8px;
}

.contact-data-item p a {
    font-size: 12px;
    color: var(--mainColorLight);
    font-weight: 500;
    letter-spacing: .6px;
    line-height: 160%;
    text-decoration: none;
}

.contact-socials {
    padding: 20px 25px;
    text-align: center;
    background-color: var(--mainColorDarkGrey);
    z-index: 2;
}

.contact-socials a {
    display: inline-block;
    margin: 0 10px;
}

.contact-socials i {
    font-size: 34px;
    color: var(--mainColorLight);
    text-align: center;
}

/* FOOTER */

footer {
    padding: 40px 25px;
    color: var(--mainColorLight);
    text-align: center;
    background-color: var(--mainColorDark);
}

footer p {
    font-size: 13px;
    letter-spacing: .4px;
    line-height: 160%;
}

footer a {
    color: var(--mainColorLight);
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .8px;
}

footer .back {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer .disclaimer {
    margin: 20px 0;
    padding: 0 20px;
}

footer .credits {
    margin: 20px 0;
}

@keyframes background-size-mobile-portrait-small {
    100% {
        background-size: 145%;
    }
}

@keyframes background-size-mobile-portrait-big {
    100% {
        background-size: 120%;
    }
}

@keyframes background-size-mobile-horizontal-small {
    100% {
        background-size: 110%;
    }
}

@keyframes background-size-mobile-horizontal-big {
    100% {
        background-size: 130%;
    }
}

@keyframes background-size-desktop {
    100% {
        background-size: auto 115%;
    }
}

@keyframes img-change {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes nav-show {
    40% {
        opacity: .95;
    }

    100% {
        opacity: .95;
    }
}

/* >>>> MEDIA QUERIES <<<<*/

/* MOBILE (MIN-W:768px, PORTRAIT) */

@media (min-width: 768px) and (orientation:portrait) {

    /* header */

    header {
        background-image: url(../img/restaurant_main_mobile_portrait_big_1.jpg);
        background-size: 110%;
        animation: background-size-mobile-portrait-big 8s infinite linear alternate, img-change 8s infinite linear;
    }

    .logo-wrap img {
        width: 40%;
    }

    header .title-wrap .title {
        padding: 0 50px;
    }

    header .title-wrap .title h1 {
        margin-bottom: 5px;
        font-size: 52px;
    }

    header .title-wrap .title p {
        font-size: 26px;
    }

    /* burger menu*/

    .burger {
        left: 50px;
        width: 40px;
        height: 30px;
    }

    .burger span {
        height: 5px;
    }

    /* nav */

    nav .nav-logo-wrap img {
        width: 40%;
    }

    nav ul li {
        font-size: 32px;
    }

    /* section about */

    .about {
        padding: 60px 50px;
    }

    /* section gallery */

    .gallery .carousel-wrap span {
        font-size: 42px;
    }

    /* section menu restaurant + section menu bar */

    .menu {
        padding: 60px 80px;
    }

    .menu .menu-logo-wrap img {
        width: 50%;
    }

    .menu.bar {
        background-image: url(../img/section_menu_bar_background_mobile_portrait_big.jpg);
    }

    /* section reservation  */

    .reservation {
        padding: 50px 50px;
    }

    .reservation-message p {
        padding: 0 120px;
    }
}

/* MOBILE (MIN-W: 520px, LANDSCAPE) */

@media (min-width: 520px) and (orientation:landscape) {

    /* header */

    header {
        background-image: url(../img/restaurant_main_mobile_horizontal_small_1.jpg);
        background-size: 100%;
        animation: background-size-mobile-horizontal-small 8s infinite linear alternate, img-change 8s infinite linear;
    }

    .logo-wrap img {
        width: 30%;
        max-width: 250px;
    }

    header .title-wrap .title {
        padding: 0 40px;
    }

    header .title-wrap .title.position-1 {
        top: 50%;
    }

    header .title-wrap .title.position-2 {
        top: 55%;
    }

    header .title-wrap .title.position-3 {
        top: 52%;
    }

    /* burger menu */

    .burger {
        top: 8vh;
        left: 40px;
    }

    /* nav */

    nav .nav-logo-wrap img {
        width: 25%;
    }

    nav ul {
        justify-content: flex-end;
        padding-bottom: 3%;
    }

    nav ul li {
        padding: 5px 0;
        font-size: 20px;
    }

    /* section about */

    .about {
        padding: 40px 40px;
    }

    /* section gallery  */

    .gallery {
        width: 100%;
        box-shadow: none;
    }

    .carousel-wrap {
        margin: 0 auto;
        width: 62%;
    }

    .gallery .carousel-wrap img {
        box-shadow: 0 0 4px var(--black);
    }

    /* section menu restaurant + section menu bar */

    .menu {
        padding: 40px 40px;
        box-shadow: none;
    }

    .menu .menu-logo-wrap img {
        width: 40%;
        max-width: 250px;
    }

    .menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu-item {
        width: 45%;
    }

    /* section menu bar */

    .menu.bar {
        box-shadow: 0 0 4px var(--black);
        background-image: url(../img/section_menu_bar_background_mobile_horizontal.jpg);
    }

    /* section reservation  */

    .reservation {
        padding: 20px 40px;
    }

    .reservation-message p {
        padding: 0 100px;
    }

    /* section contact */

    .contact {
        padding: 20px 0 0 0;
    }

    .contact-data {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .contact-data-item {
        width: 40%;
        margin: 20px 0;
    }
}

/* MOBILE (MIN-W: 900px, LANDSCAPE) */

@media (min-width: 900px) and (orientation:landscape) {

    /* header */

    header {
        background-image: url(../img/restaurant_main_mobile_horizontal_big_1.jpg);
        background-size: 120%;
        animation: background-size-mobile-horizontal-big 8s infinite linear alternate, img-change 8s infinite linear;
    }

    header .title-wrap .title h1 {
        font-size: 52px;
    }

    header .title-wrap .title p {
        font-size: 26px;
    }

    /* burger menu */

    .burger {
        width: 40px;
        height: 30px;
    }

    /* nav */

    nav .nav-logo-wrap img {
        width: 30%;
        max-width: 250px;
    }

    nav ul {
        padding-top: 100px;
        justify-content: center;
    }

    nav ul li {
        padding: 10px 0;
        font-size: 32px;
    }

    /* section about */

    .about {
        padding: 60px 120px;
    }

    /* section gallery */

    .carousel-wrap {
        width: 50%;
    }

    /* section menu restaurant + section menu bar */

    .menu {
        padding: 60px 120px;
    }

    /* section reservation  */

    .reservation {
        padding: 40px 40px;
    }

    /* section contact */

    .contact-data {
        padding: 40px 80px;
    }

    footer {
        padding: 40px 100px
    }
}

/* DESKTOP (MIN-W: 1025px, LANDSCAPE) */

@media (min-width: 1025px) and (orientation:landscape) {

    /* header */

    header {
        background-image: url(../img/restaurant_main_desktop_1.jpg);
        background-size: auto 110%;
        background-position-x: center;
        animation: background-size-desktop 8s infinite linear alternate, img-change 8s infinite linear;
    }

    header .title-wrap .title {
        padding: 0 100px;
    }

    header .title-wrap .title.position-1 {
        top: 57%;
    }

    header .title-wrap .title.position-2 {
        top: 61%;
    }

    header .title-wrap .title.position-3 {
        top: 55%;
    }

    /* burger menu */

    .burger {
        display: none;
    }

    /* nav */

    nav {
        display: block;
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: transparent;
        z-index: 0;
        opacity: 1;
    }

    nav.follow {
        position: fixed;
        top: 0;
        height: 60px;
        box-shadow: 0 0 4px var(--black);
        background-color: #000000cc;
        z-index: 100;
        text-shadow: none;
    }

    nav.follow ul li {
        font-size: 22px;
        text-shadow: none;
    }

    nav.follow li:hover {
        color: #aaa;
        transform: none;
    }

    nav .nav-logo-wrap {
        display: none;
    }

    nav .nav-logo-wrap img {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
        list-style: none;
    }

    nav ul li {
        position: relative;
        display: flex;
        align-items: center;
        align-self: center;
        width: auto;
        height: 50%;
        margin: 0 10px;
        padding: 30px 20px;
        font-size: 22px;
        font-weight: bold;
        color: var(--white);
        text-align: center;
        text-shadow: 1px 1px 4px var(--black);
        cursor: pointer;
        transition: .2s linear;
    }

    nav ul li:hover {
        color: var(--mainColorLightGrey);
        transform: scale(.9);
    }

    /* section about & gallery wrap */

    .about-and-gallery-wrap {
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
    }

    /* section about */

    .about {
        padding: 100px 40px 0 40px;
    }

    .about h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    /* section gallery */

    .gallery {
        display: flex;
        align-items: center;
        padding: 80px 40px 0 40px;
    }

    .carousel-wrap {
        width: 370px;
    }

    .gallery .carousel-wrap span:hover {
        opacity: .7;
    }

    .gallery .carousel-wrap img {
        width: 100%;
    }

    .gallery .carousel-wrap span {
        cursor: pointer;
        transition: .2s;
    }

    .gallery .carousel-wrap .dots i {
        cursor: pointer;
        transition: opacity .2s;
    }

    .gallery .carousel-wrap .dots i:hover {
        opacity: .7;
    }

    /* section menu restaurant */

    .menu h2 {
        padding-top: 20px;
        font-size: 28px;
    }

    .menu-items {
        max-width: 1400px;
        height: auto;
        margin: 0 auto;
        padding: 20px 40px;
        justify-content: flex-start;
        transition: 1.5s .1s;
        opacity: 0;
    }

    .menu-items.visible {
        opacity: 1;
    }

    .menu-category h3 {
        font-size: 17px;
    }

    .menu-category h3 i {
        display: none;
    }

    .menu-item {
        width: 33.33%;
        padding-right: 50px;
    }

    /* section menu bar */

    .menu.bar {
        background-image: url(../img/section_menu_bar_background_desktop.jpg);
        background-size: cover;
        /* background-attachment: scroll; */
    }

    /* section reservation */

    .reservation-panel h2 {
        font-size: 42px;
    }

    .reservation-panel h3 {
        padding: 10px 0;
        font-size: 11px;
    }

    .reservation-panel button a {
        font-size: 14px;
        transition: .3s;
    }

    .reservation-panel button a:hover {
        background-color: var(--mainColorDark);
    }

    /* section contact */

    .contact h2 {
        font-size: 34px;
    }

    .contact-data {
        max-width: 900px;
        padding: 20px 40px;
        margin: 0 auto;
    }

    .contact-socials i {
        transition: .3s;
    }

    .contact-socials i:hover {
        opacity: .5;
    }

    /* footer */

    footer p {
        max-width: 900px;
        margin: 0 auto;
        font-size: 13.5px;
    }

    footer .back {
        cursor: pointer;
    }
}

@media (min-width: 1300px) and (orientation:landscape) {

    /* nav */

    nav ul li {
        font-size: 24px;
    }
}

@media (min-width: 1600px) and (orientation:landscape) {

    /* header */

    .logo-wrap img {
        max-width: 280px;
    }

    header .title-wrap .title {
        padding: 0 160px;
    }

    header .title-wrap .title h1 {
        font-size: 56px;
    }

    header .title-wrap .title p {
        font-size: 28px;
    }

    /* nav */

    nav ul li {
        font-size: 26px;
    }
}

/* FIREFOX HEADER BACKGROUND-IMAGE ANIMATION BUG FIX */

@supports (-moz-appearance:none) {
    header {
        animation: img-change 8s infinite linear;
    }
}